@use 'variables' as *;

body > header {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background: $primaryColor;
  color: $secondaryColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  img {
    height: 100%;
  }

  ul {
    display: none;

    @media (min-width: $breakpoint) {
      display: flex;
    }

    li {
      list-style-type: none;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.5rem;
      text-wrap: nowrap;
      text-decoration: none;
      height: 48px;
      color: $primaryColor;
      padding: 10px 30px 10px 10px;
      border-bottom: 1px solid $primaryColor;

      @media (min-width: $breakpoint) {
        color: $secondaryColor;
        padding-right: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    &.active {
      background: $secondaryColor;
      color: $primaryColor;
      display: flex;
      position: absolute;
      left: 0;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
    }
  }

  button#abc {
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  button#searchBtn, img#bell {
    width: 48px;
    height: 48px;
    border: none;
    background: none;
  }


  .search-container {
    display: flex;
  }
  input.search-input {
    @media (max-width: $breakpoint) {
      display: none;
    }
  }
}